__pycache__/
.ipynb_checkpoints/
.venv*/
env/
venv/

hf_llm_models/
hf_models/
hf_cache/
hf_cache_llm/

real_text_datasets/
unlearning_benchmarks/raw/
unlearning_benchmarks/repos/

teach_checkpoints/
**/teach_checkpoints/
**/model_adapter/
**/model_adapter_final/
**/adapter_model.safetensors

*.safetensors
*.bin
*.pt
*.pth
*.tar.gz
*.zip
*.7z

# Full heavy run folders should not be committed.
runs_real_text_fractional_dynamic/
runs_real_text_fractional_concept/
runs_fractional_focused_final/
runs_fractional_hypothesis_v2/
runs_fractional_scenarios/
runs_transformer_fractional/
